@charset "utf-8";
html {
    background-color: #5D5F71;
}

body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
    border-radius: 10px;
    background: linear-gradient(#b7b3a1, #b7b3a12d);
    padding: 10px 0px;
    width: 500px;
}

header {
    padding: 1px 0px;
    color: white;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
    width: 450px;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    background: linear-gradient(#D1CA98, #d1ca9869);

}

section {
    color: white;
    padding: 5px 0px;
    margin: auto;
    margin-top: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
    width: 450px;
    border-radius: 10px;
    background: linear-gradient(#D1CA98, #d1ca9869);



}
section > div {
    margin: 10px;
}

div.resultado {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
    color: white;
    height: 250px;
    width: 450px;
    border-radius: 10px;

}

footer {
    text-align: center;
    color: white;
}

footer > p > a {
    /*text-decoration: none;*/
    color: white;
}

